:root {
    --main-font: 'Playfair Display', serif;
    --secondary-font: 'Roboto', sans-serif;
    --accent-font: 'Outfit', sans-serif;
}

// font-family: 'Outfit', sans-serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Roboto', sans-serif;