.hero {
    padding-top: 105px;
    padding-top: 37px;
    &__container {
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 72px;
    }
    &__text {
        display: flex;
        flex-direction: column;
        row-gap: 28px;
        align-items: flex-start;

        .hero__text-container {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            .hero-text__title {
                max-width: 495px;
                font-size: 50px;
                font-weight: 400;
                line-height: 45px;
                letter-spacing: -1px;
                font-family: var(--main-font);
                span {
                    font-weight: 700;
                    line-height: 47px;
                }
            }
            .hero-text__description {
                font-size: 20px;
                max-width: 373px;
                font-weight: 400;
                font-family: var(--secondary-font);
                line-height: 27.5px;
            }
        }
        .hero__buttons {
            display: flex;
            align-items: center;
            column-gap: 51px;
            .hero-btn {
                font-size: 20px;
                font-weight: 500;
                line-height: 27.5px;
                transition: .3s linear;
            }
            .portfolio {
                padding: 14px 38px 14px 51px;
                background: #D50138;
                border-radius: 10px;
                border: 1px solid transparent;
                &:hover {
                    background: transparent;
                    border: 1px solid #8A8A8A;
                }
            }
            .book {
                padding: 14px 39px;
                background: transparent;
                border-radius: 10px;
                border: 1px solid #8A8A8A;
                &:hover {
                    background: #D50138;
                    border: 1px solid transparent;
                }
            }
        }
    }
    &__image {
        max-width: 553px;
        position: relative;
        pointer-events: none;
        &::after {
            content: '';
            position: absolute;
            width: 800px;
            height: 300px;
            flex-shrink: 0;
            filter: blur(193px);
            background: rgba(0, 187, 212, .3);
            left: 20%;
            bottom: -90%;
            z-index: -1;
        }
        img {
            border-radius: 23px;
        }
    }
}